{% load static %}
<!DOCTYPE html>
    <head>
        <title>Prácička</title>
        <link rel="stylesheet" href="{% static 'home-styly.css' %}">
    </head>
<body>
    <h1>HOME</h1>
    <p1>Ahojda</p1>
    <hr>
    <a href="http://127.0.0.1:8000/kontakty">Kontakty</a>
    <hr>
    <a href="http://127.0.0.1:8000/neco">Neco</a>
    <hr>
</body>
</html>