{% load static %}
<!DOCTYPE html>
    <head>
        <title>Prácička</title>
        <link rel="stylesheet" href="{% static 'kontakty-styly.css' %}">
    </head>
<body>
    <h1>Kontakty</h1>
    <h2>Zde jsou kontakty</h2>
    <p1>Kontakt - 158</p1>
</body>
</html>