{% load static %}
<!DOCTYPE html>
    <head>
        <title>Prácička</title>
        <link rel="stylesheet" href="{% static 'neco-styly.css' %}">
    </head>
<body>
    <h1>Něco</h1>
    <h2>Fakt nevím co sem mám dát</h2>
    <p1>Opravdu netuším</p1>
</body>
</html>